<!-- neew two-way data binding for title and description + change data id changed -->
<div class="item-wrapper">
  <h2 class="title">{{ toDoItem.title }}</h2>
  <p class="description">{{ toDoItem.description }}</p>
  <p class="info">
    <span class="date">{{ toDoItem.date | date:'medium' }}</span>
  </p>
  <label class="label">
    <span class="visually-hidden">Toggle ToDo status</span>
    <input class="visually-hidden" 
           id="status" 
           type="checkbox" 
           [checked]="toDoItem.state" 
           (click)="toggleToDoStatus()"
    >
    <span class="checkmark"></span>
  </label>
  <button class="button" (click)="deleteToDo()"><span class="visually-hidden">Delete ToDo</span></button>
</div>
