<form class="form" [formGroup]="toDosForm" (submit)="addNewToDo()">
  <ul class="form-list">
    <li class="title"
        [ngClass]="{ 'invalid': isValid() }"
    >
      <label for="title">Title (required): </label>
      <input type="text"
              id="title"
              formControlName="title"
              placeholder="Do Something"
              required
      >
    </li>
    <li class="description">
      <label for="description">Description: </label>
      <textarea type="text"
                id="description"
                formControlName="description"
                placeholder="This what you want to do">
      </textarea>
    </li>
  </ul>
  <button type="submit" class="button" [disabled]="!toDosForm.valid">Add ToDo</button>
</form>
