.title {
  width: 100%;
  margin: 0;
  padding: 14px 0;

  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: rgb(255, 255, 255);

  background-color: rgb(68, 194, 68);
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

.weather {
  margin-top: 20px;
}

.to-do {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 0 30px;
}

.button {
  margin: 0;
  padding: 8px 16px;

  color: rgb(255, 255, 255);

  background-color: rgb(68, 194, 68);
  border: none;
  border-radius: 6px;;

  &:hover,
  &:focus {
    background-color: rgb(46, 163, 46);
  }

  &:active {
    background-color: rgb(27, 128, 27);
  }
}
