.title {
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

.weather {
  margin-top: 30px;
}

.to-do {
  margin-top: 30px;
  margin-bottom: 30px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 30px;
}

.button {
  margin: 0;
  padding: 8px 16px;

  color: rgb(255, 255, 255);
  
  background-color: rgb(68, 194, 68);
  border: none;
  border-radius: 6px;;

  &:hover,
  &:focus {
    background-color: rgb(46, 163, 46);
  }

  &:active {
    background-color: rgb(27, 128, 27);
  }
}